* {
  margin: 0px;
  padding: 0px;
}
.container {
  height: 100vh;
  width: 100vw;
  padding: 50px;
  background-color: lightgray;
}

.container .box-1 {
  height: 25%;
  background-color: khaki;
}

.container .box-2 {
  height: 25%;
  background-color: orange;
}

.container .box-3 {
  height: 50%;
  background-color: cornflowerblue;
}
